Repository JuliaData/DataFrames.jl, pull requests merged in 2020-09, with the labels that each got.

#2408 Add a reference to Impute.jl
  docs/src/index.md
Labels: doc

#2397 add suffix to select/transform/combine
  NEWS.md
  src/abstractdataframe/selection.jl
  src/deprecated.jl
  src/groupeddataframe/splitapplycombine.jl
  test/grouping.jl
  test/select.jl
Labels: feature, non-breaking

#2400 add Type to names as cols
  NEWS.md
  src/abstractdataframe/abstractdataframe.jl
  src/deprecated.jl
  test/dataframe.jl
Labels: feature, non-breaking

#2401 [BREAKING] deprecate name => fun in favor of fun => name in describe
  NEWS.md
  src/abstractdataframe/abstractdataframe.jl
  test/dataframe.jl
  test/deprecated.jl
Labels: breaking

#2403 allow to flexibly change the display width limit
  NEWS.md
  src/abstractdataframe/io.jl
  src/abstractdataframe/iteration.jl
  src/abstractdataframe/show.jl
  src/dataframerow/show.jl
  src/groupeddataframe/show.jl
  test/io.jl
  test/show.jl
Labels: display, non-breaking

#2411 Replaced ParquetFiles.jl with Parquet.jl
  docs/src/index.md
Labels: doc

#2415 Update index.md to include AutoMLPipeline
  docs/src/index.md
Labels: doc

#2386 add view to filter, sort, dropmissing, and unique
  NEWS.md
  src/abstractdataframe/abstractdataframe.jl
  src/abstractdataframe/sort.jl
  src/dataframe/sort.jl
  test/data.jl
  test/sort.jl
Labels: bug, feature, non-breaking, performance

#2421 fix --- whih renders incorrectly in the docs
  docs/src/index.md
Labels: doc

#2378 Add pandas comparison
  docs/make.jl
  docs/src/man/comparisons.md
Labels: doc

#2426 Left align pandas comparison tables
  docs/src/man/comparisons.md
Labels: doc

#2428 Update dplyr example in comparisons.md
  docs/src/man/comparisons.md
Labels: doc

#2434 Remove mutating examples for adding new columns
  docs/src/man/comparisons.md
Labels: doc

#2449 add only
  docs/src/lib/functions.md
  src/DataFrames.jl
  src/abstractdataframe/abstractdataframe.jl
  test/dataframe.jl
Labels: feature, non-breaking

#2454 Add missing entry to NEWS.md about `only` support
  NEWS.md
Labels: doc

#2451 Use ComposedFunction public API
  Project.toml
  src/other/utils.jl
Labels: non-breaking
