Repository JuliaData/DataFrames.jl, pull requests merged in 2021-07, with the labels that each got.

#2809 improve subset! for GroupedDataFrame
  NEWS.md
  src/abstractdataframe/subset.jl
  src/groupeddataframe/groupeddataframe.jl
  test/grouping.jl
  test/io.jl
Labels: bug, grouping

#2810 update precompilation and .gitignore
  .gitignore
  src/other/precompile.jl
Labels: CI

#2811 Document GroupedDataFrame consistency check
  docs/src/man/split_apply_combine.md
  src/groupeddataframe/groupeddataframe.jl
Labels: doc

#2812 make sort kwarg in groupby more flexible
  NEWS.md
  src/abstractdataframe/abstractdataframe.jl
  src/groupeddataframe/groupeddataframe.jl
  src/groupeddataframe/utils.jl
  test/grouping.jl
Labels: feature, grouping, non-breaking

#2717 making a new top level section to work with DataFrames
  docs/Project.toml
  docs/make.jl
  docs/src/assets/README.md
  docs/src/assets/german.csv
  docs/src/index.md
  docs/src/man/basics.md
Labels: doc

#2825 review of the DataFrames.jl tutorial
  docs/src/man/basics.md
Labels: doc

#2826 correct signature of merge for AbstractIndex
  NEWS.md
  Project.toml
  src/other/index.jl
  test/index.jl
Labels: bug
