Repository JuliaData/DataFrames.jl, pull requests merged in 2022-12, with the labels that each got.

#3225 Explain column-independent operations
  docs/src/man/split_apply_combine.md
  src/abstractdataframe/selection.jl
Labels: doc

#3212 add Iterators.partition
  NEWS.md
  Project.toml
  docs/src/lib/functions.md
  src/abstractdataframe/abstractdataframe.jl
  test/dataframe.jl
Labels: feature

#3232 Add allunique and improve nonunique and describe
  NEWS.md
  docs/src/lib/functions.md
  src/abstractdataframe/abstractdataframe.jl
  src/dataframe/dataframe.jl
  src/subdataframe/subdataframe.jl
  test/dataframe.jl
Labels: feature

#3224 add an option to intersect arguments passed to Cols
  NEWS.md
  Project.toml
  src/other/index.jl
  test/index.jl
Labels: feature

#3249 fix deleteat! and subset! performance
  src/abstractdataframe/subset.jl
  src/dataframe/dataframe.jl
  test/dataframe.jl
Labels: performance

#3233 Add an option in joins to specify row order
  NEWS.md
  docs/src/man/joins.md
  src/join/composer.jl
  test/join.jl
Labels: feature, joins

#3250 Fix typo in documentation
  docs/src/lib/functions.md
Labels: doc

#3238 Add hints to use macro packages for new users
  docs/src/index.md
Labels: doc

#3252 Mention ReadStatTables.jl in documentation
  docs/src/index.md
  docs/src/man/importing_and_exporting.md
Labels: doc

#3236 Improve examples in the manual in basics.md
  docs/src/man/basics.md
  docs/src/man/working_with_dataframes.md
Labels: doc

#3242 improve error message when used selector is incorrect
  src/other/index.jl
Labels: non-breaking

#3253 Add sorting options to groupby
  NEWS.md
  docs/src/man/split_apply_combine.md
  src/DataFrames.jl
  src/groupeddataframe/groupeddataframe.jl
  test/grouping.jl
Labels: feature
